name: Build and upload Timbre package cache
on:
  push:
    branches:
      - master

jobs:

  build-linux-arm64-debug:
    name: Build linux ARM64 debug image
    uses: ./.github/workflows/build-platform-cache.yml
    with:
      build_type: Debug
      build_runner: ubuntu-24.04-arm
      platform_id: linux-arm64
      conan_profile: Linux.armv8.Debug