name: Build and upload Timbre packages for POSIX platforms
on:
  push:
    branches:
      - master

jobs:

  build-posix:
    uses: ./.github/workflows/build-platform.yml

    strategy:
      matrix:
        platform: ${{ fromJSON(vars.POSIX_PLATFORMS) }}

    secrets: inherit
    with:
      build_type: ${{ matrix.platform.build_type }}
      build_runner: ${{ matrix.platform.build_runner }}
      conan_profile: ${{ matrix.platform.conan_profile }}
      install_dependencies_script: ${{ matrix.platform.install_dependencies_script }}

    name: "Build ${{ matrix.platform.conan_profile }}"